!!! 1.1
%head
  %link{ :href => "/css/style.css", :rel => "stylesheet" }
%body
  #container
    #top
      %h1
        TinyCI
    #leftnav
      %h3
        %a{ :href => "/" }
          Home
    #content
      = yield
    #footer
      In six features or less, we'll build your software.
