!!! 1.1
%head
  %title
    MicroCI - a tiny CI server
  %link{ :href => "/css/style.css", :rel => "stylesheet" }
%body
  #container
    #top
      %h1
        MicroCI
    #leftnav
      %h3
        %a{ :href => "/" }
          Home
    #content
      = yield
    #footer
      %div{:style => 'float: left;'}
        %strong
          = "Status: #{MicroCI.running? ? 'RUNNING' : "IDLE"}"
      %div{:style => 'text-align: right;'}
        In six features or less, we'll build your software.
