%h2
  Builds
%hr
%table
  - @builds.reverse.each do |build|
    %tr
      %td
        %img{ :src => "/images/#{build.result}.png" }
      %td
        %a{:href => build.url}
          = build.name
      %td
        Ran at: 
        = build.date

= will_paginate @builds